<div class="container">
    <h1 class="mb-5">Painel - Listas de Universidades</h1>

    <div class="filtros mb-5 mt-5">
        <label for="pais">Filtro por país</label>
        <select class="form-select" id="pais" (change)="listarUniversidades()">
            <option selected disabled>Selecione o país</option>

            <option *ngFor="let item of paises">{{item.name}}</option>

        </select>
    </div>

    <table id="tabelaUniversidades" class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Universidade</th>
                <th remove-mobile>WebSite principal</th>
                <th remove-mobile>Dominio principal</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of universidades; let i = index">
                <td>{{item.name}}</td>
                <td remove-mobile><a [attr.href]="item.web_pages[0]" target="_blank">{{item.web_pages[0]}}</a></td>
                <td remove-mobile>{{item.domains[0]}}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#modal-'+i"><i class="bi bi-eye-fill"></i> Detalhes</button>
                </td>



                <div class="modal fade" [id]="'modal-'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{item.name}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="websites mb-3">
                                    <h5>WebSites:</h5>
                                    <div *ngFor="let link of item.web_pages">
                                        <a [attr.href]="link" target="_blank">{{link}}</a>
                                    </div>
                                </div>

                                <div class="dominios mb-3">
                                    <h5>Dominios:</h5>
                                    <div *ngFor="let dom of item.domains">
                                        <p>{{dom}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </tr>
        </tbody>
    </table>
</div>


