<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Login</h1>

                    <form (submit)="formSubimitLogar($event)">
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail:</label>
                            <input name="email" class="form-control" id="email" type="email" placeholder="Digite seu e-mail" required>
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha:</label>
                            <input name="senha" class="form-control" id="senha" type="password" placeholder="Digite a sua senha" required>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>

                    </form>


                    <div class="text-end mt-5">
                        <p>Não tem uma conta?</p>
                        <a routerLink="/cadastro" class="btn btn-link">Cadastre-se</a>
                    </div>

                </div>


            </div>

        </div>
    </div>
</div>